.hide {
  display: none;
}

.category-count {
  font-family:'Roboto', sans-serif;
  font-size: 13px;
}

.profile-projects-categories {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.profile-category7 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #c19f62;
  color: white;
  font-family: 'Share', cursive;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 2;
}

.profile-category8 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #37271a;
  color: #fe7f17;
  font-family: 'Share', cursive;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 2;
}

.profile-category9 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #391525;
  color: #fd408b;
  font-family: 'Share', cursive;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 2;
}

.profile-category7:hover, .profile-category8:hover, .profile-category9:hover {
  height: 42px;
  cursor: pointer;
}

.category7 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #c19f62;
  color: white;
  font-family: 'Share', cursive;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.category8 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #37271a;
  color: #fe7f17;
  font-family: 'Share', cursive;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.category9 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #391525;
  color: #fd408b;
  font-family: 'Share', cursive;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.category7:hover, .category8:hover, .category9:hover {
  height: 42px;
}

.category7-triangle-right {
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 16px solid transparent;
  border-top: 10px solid #c19f62;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.category7-triangle-left {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 0 solid transparent;
  border-top: 10px solid #c19f62;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.category8-triangle-right {
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 16px solid transparent;
  border-top: 10px solid #37271a;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.category8-triangle-left {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 0 solid transparent;
  border-top: 10px solid #37271a;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.category9-triangle-right {
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 16px solid transparent;
  border-top: 10px solid #391525;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.category9-triangle-left {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 0 solid transparent;
  border-top: 10px solid #391525;
  position: absolute;
  left: 0;
  bottom: -10px;
}