.hide {
  display: none;
}

.category-count-1 {
  font-family:'Roboto', sans-serif;
  font-size: 13px;
  position: absolute;
  top: 48px;
  right: 63px;
}

.category-count-2 {
  font-family:'Roboto', sans-serif;
  font-size: 13px;
  position: absolute;
  top: 48px;
  right: 113px;
}

.category-count-3 {
  font-family:'Roboto', sans-serif;
  font-size: 13px;
  position: absolute;
  top: 48px;
  right: 163px;
}

.profile-projects-categories {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.profile-category1 {
  width: 32px;
  height: 30px;
  position: absolute;
  background-color: #c19f62;
  color: white;
  font-family: 'Share', cursive;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 2;
}

.profile-category2 {
  width: 32px;
  height: 30px;
  position: absolute;
  background-color: #256aff;
  color: white;
  /* background: linear-gradient(rgba(55,39,26,1) 0%, rgb(125, 62, 6) 100%); */
  /* color: #fe7f17; */
  font-family: 'Share', cursive;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 2;
}

.profile-category3 {
  width: 32px;
  height: 30px;
  position: absolute;
  /* background: linear-gradient(rgba(57,21,37,1) 0%, rgb(142, 48, 85) 100%);
  color: #fd408b; */
  background-color: #d23d77;
  color: white;
  font-family: 'Share', cursive;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 2;
}

.profile-category1:hover, .profile-category2:hover, .profile-category3:hover {
  height: 42px;
  cursor: pointer;
}

.category1 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  background-color: #c19f62;
  color: white;
  font-family: 'Share', cursive;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.category2 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  /* background: linear-gradient(rgba(55,39,26,1) 0%, rgb(125, 62, 6) 100%);
  color: #fe7f17; */
  background-color: #256aff;
  color: white;
  font-family: 'Share', cursive;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.category3 {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 30px;
  /* background: linear-gradient(rgba(57,21,37,1) 0%, rgb(142, 48, 85) 100%);
  color: #fd408b; */
  background-color: #d23d77;
  color: white;
  font-family: 'Share', cursive;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.category1:hover, .category2:hover, .category3:hover {
  height: 42px;
}

.category1-triangle-right {
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 16px solid transparent;
  border-top: 10px solid #c19f62;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.category1-triangle-left {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 0 solid transparent;
  border-top: 10px solid #c19f62;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.category2-triangle-right {
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 16px solid transparent;
  border-top: 10px solid #256aff;
  /* border-top: 10px solid rgb(125, 62, 6); */
  position: absolute;
  right: 0;
  bottom: -10px;
}

.category2-triangle-left {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 0 solid transparent;
  border-top: 10px solid #256aff;
  /* border-top: 10px solid rgb(125, 62, 6); */
  position: absolute;
  left: 0;
  bottom: -10px;
}

.category3-triangle-right {
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 16px solid transparent;
  border-top: 10px solid #d23d77;
  /* border-top: 10px solid rgb(142, 48, 85); */
  position: absolute;
  right: 0;
  bottom: -10px;
}

.category3-triangle-left {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 0 solid transparent;
  border-top: 10px solid #d23d77;
  /* border-top: 10px solid rgb(142, 48, 85); */
  position: absolute;
  left: 0;
  bottom: -10px;
}

.banner-1 {
  right: 50px;
}

.banner-2 {
  right: 100px;
}

.banner-3 {
  right: 150px;
}

.categories-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  justify-content: space-evenly;
  background-color: #f9f9f9;
}

.categories-header > h2 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

.categories-header > h3 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 600px;
  text-align: center;
  line-height: 30px;
}

.categories-header > button {
  height: 34px;
  width: 120px;
  background-color: #0057ff;
  border-radius: 24px;
  color: white;
  transition: .4s;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.categories-header > button:hover {
  transition: .4s;
  background-color: #0040c1;
}

/* -------------------------------------------------------------------------------------------- */
/* NOTE: The category numbers 1,2,3 are hardcoded for now, and if the project is ever in need of
being reseeded to Heroku MAKE SURE to change the categories-1, -2, -3 to match whatever the new
ID's of the created categories are! */
/* -------------------------------------------------------------------------------------------- */