
.header-adobe-logo {
  border: 0;
  background-color: #222;
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  opacity: .5;
  transition: .2s;
  margin-left: 10px;
  text-decoration: none;
}

.header-adobe-logo-text {
  margin-top: 2px;
}

.header-adobe-logo:hover {
  opacity: 1;
  transition: .2s;
}

.header-adobe-logo:focus {
  opacity: 1;
}

.header-login {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-right: 10px;
}

.footer-adobe-logo {
  border: 0;
  background-color: #222;
  color: white;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  opacity: .5;
  transition: .2s;
  margin-right: 30px;
  text-decoration: none;
}

.footer-adobe-logo img {
  height: 12px;
  width: 12px;
}

.footer-adobe-logo-text {
  margin-top: 2px;
}

.footer-adobe-logo:hover {
  opacity: 1;
  transition: .2s;
}

.footer-adobe-logo:focus {
  opacity: 1;
}

.header-right {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-login > a {
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px;
  width: 64px;
  height: 18px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  transition: .2s;
}

.header-login > a:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: .2s;
}

.material-icons {
  opacity: .5;
  transition: .2s;
  margin: 0 10px;
}

.material-icons:hover {
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

.material-icons:focus {
  opacity: 1;
}

.fa-envelope {
  opacity: .5;
  transition: .2s;
  margin: 0 15px 0 10px;
}

.fa-envelope:hover {
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

.fa-envelope:focus {
  opacity: 1;
}

.fa-bell {
  opacity: .5;
  transition: .2s;
  margin: 0 15px 0 10px;
}

.fa-bell:hover {
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

.fa-bell:focus {
  opacity: 1;
}

.header-drop-btn {
  width: 20px;
  border: none;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.header-drop-btn img {
  height: 20px;
  width: 20px;
  border: none;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.header-drop {
  position: relative;
  display: flex;
  height: 60px;
  min-width: 30px;
  justify-content: center;
}

.header-drop-content {
  visibility: hidden;
  position: absolute;
  right: -20px;
  top: 60px;
  color: gray;
  background-color: white;
  min-width: 320px;
  min-height: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 3;
  transition: .4s;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  border-radius: 3px;
}

.header-drop-content > div {
  display: flex;
  height: 80px;
  width: 320px;
}

.header-drop-content-section {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  padding: 20px 20px 30px 20px;
}

.header-drop-content-section h3 {
  color: black;
  font-weight: bold;
}

.header-drop-content-section p {
  color: gray;
  font-size: 14px;
}

.header-drop-content-section button {
  border: none;
  height: 70px;
  width: 70px;
  margin-top: -6px;
}

.header-drop-content-section img {
  height: 70px;
  width: 70px;
}

.header-drop-content-section div {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 65px;
}

.header-drop-content-links {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  font-size: 14px;
}

.header-drop-content-links a {
  text-decoration: none;
  color: gray;
  padding: 10px 20px;
}

.header-drop-content-links a:hover {
  background-color: #f7f7f7;
}

.header-drop:hover .header-drop-content {
  visibility: visible;
  opacity: 1;
  transition: .4s;
}

.header-drop:focus {
  visibility: visible;
}

.header-drop-content-link:hover {
  background-color: #f7f7f7;
}

.header-drop-content-links button {
  border: none;
  height: 40px;
  border-top: 1px solid #e4e4e4;
  margin: 5px 0;
  text-align: left;
  padding-left: 20px;
  color: gray;
}

.header-drop-content-links button:hover {
  background-color: #f7f7f7;
}