
.header-adobe-logo {
  border: 0;
  background-color: #222;
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  opacity: .5;
  transition: .2s;
  margin-left: 10px;
  text-decoration: none;
}

.header-adobe-logo-text {
  margin-top: 2px;
}

.header-adobe-logo:hover {
  opacity: 1;
  transition: .2s;
}

.header-adobe-logo:focus {
  opacity: 1;
}

.header-login {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-right: 10px;
}

.footer-adobe-logo {
  border: 0;
  background-color: #222;
  color: white;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  opacity: .5;
  transition: .2s;
  margin-right: 30px;
  text-decoration: none;
}

.footer-adobe-logo img {
  height: 12px;
  width: 12px;
}

.footer-adobe-logo-text {
  margin-top: 2px;
}

.footer-adobe-logo:hover {
  opacity: 1;
  transition: .2s;
}

.footer-adobe-logo:focus {
  opacity: 1;
}

.header-right {
  display: flex;
  align-items: center;
  height: 60px;
}

/* .header-right section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 60px;
  margin-right: 10px;
} */

.header-login > a {
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px;
  width: 64px;
  height: 18px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  transition: .2s;
}

.header-login > a:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: .2s;
}
/* 
.header-right section a:hover {
  color: red;
  background-color: white;
  border: 1px solid black;
  transition: .2s;
} */

.material-icons {
  opacity: .5;
  transition: .2s;
  margin: 0 10px;
}

.material-icons:hover {
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

.material-icons:focus {
  opacity: 1;
}

.fa-envelope {
  opacity: .5;
  transition: .2s;
  margin: 0 15px 0 10px;
}

.fa-envelope:hover {
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

.fa-envelope:focus {
  opacity: 1;
}

.fa-bell {
  opacity: .5;
  transition: .2s;
  margin: 0 15px 0 10px;
}

.fa-bell:hover {
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

.fa-bell:focus {
  opacity: 1;
}

.header-drop-btn {
  width: 20px;
  border: none;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.header-drop-btn img {
  height: 20px;
  width: 20px;
  border: none;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.header-drop {
  position: relative;
  display: flex;
  height: 60px;
  min-width: 30px;
  justify-content: center;
}

.header-drop-content {
  display: none;
  position: absolute;
  right: -20px;
  top: 60px;
  color: black;
  background-color: white;
  min-width: 320px;
  min-height: 240px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 3;
  transition: .5s;
}

.header-drop-content > div {
  display: flex;
  height: 120px;
  width: 320px;
}

.header-drop-content-section {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  padding: 20px;
}

.header-drop-content-section button {
  border: none;
  height: 70px;
  width: 70px;
  margin-top: -6px;
}

.header-drop-content-section img {
  height: 70px;
  width: 70px;
}

.header-drop-content-section div {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-drop-content-links {
  display: flex;
  flex-direction: column;
}

.header-drop-content-links a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
}

/* 
.header-drop-content ul:before {
  content: "";
  position: absolute;
  right: -20px;
  top: 60px;
  background-color: #f1f1f1;
  width: 0;
  height: 0;
  border-color: transparent transparent #f1f1f1 transparent;
  z-index: 3;
}

.header-drop-content ul:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 60px;
  background-color: #f1f1f1;
  width: 0;
  height: 0;
  border-color: transparent transparent #f1f1f1 transparent;
  z-index: 3;
} */

.header-drop:hover .header-drop-content {
  display: block;
  transition: .5s;
}

.header-drop-content-link {
  border-bottom: 1px solid #e4e4e4;
  padding-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.header-drop-content-link:hover {
  background-color: #f9f9f9;
  border: none;
}

.header-drop-content-links button {
  border: none;
  height: 40px;
  margin: 5px 0;
}

.header-drop-content-links button {
  border: none;
  height: 40px;
  margin: 5px 0;
}

