.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.profile-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-banner {
  width: 100%;
  padding-top: 60px;
  overflow: hidden;
  height: 212px;
  // background-color: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-banner img {
  // width: auto;
  // min-height: 100%;
  max-height: 100%;
  position: absolute;
}

.profile-banner div {
  height: 212px;
  overflow: hidden;
}

.profile-body {
  display: flex;
}

.profile-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding-bottom: 42px;
}

.profile-project-index {
  margin: 20px 50px 50px 0;
  background-color: #f9f9f9;
  display: grid;
  grid-gap: 20px;
  min-width: 280px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.profile-project-index figure {
  position: relative;
}

.profile-project-index h4 {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.profile-project-index p {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.profile-project-index img {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.profile-project-index img:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.228));
}

.profile-project-index li {
  background-color: #e8e8e8;
  border: 1px solid black;
  height: 260px;
  width: 360px;
  text-align: center;
  border-radius: 5px;
  list-style: none;
}

.profile-about {
  display: flex;
  width: 460px;
  justify-content: center;
  background-color: #f9f9f9;
}

.profile-about div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 600px;
  margin: 0 50px;
  padding: 30px;
  position: relative;
  margin-top: -150px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 3px #bdbdbd;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  color: #6c6c6c;
}

.profile-about section {
  display: flex;
}

.profile-about section:first-of-type img {
  height: 110px;
  width: 110px;
}

.profile-about section:nth-of-type(2) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  margin-top: -30px;
}

.profile-about section:nth-of-type(3) {
  flex-direction: column;
  width: 100%;
}

.profile-about section:nth-of-type(5) {
  flex-direction: column;
  height: 50px;
  width: 100%;
}

.profile-about section:nth-of-type(5) a {
  height: fit-content;
  width: fit-content;
}

.profile-about section:nth-of-type(5) span {
  flex-direction: row;
  display: flex;
  height: 70px;
  width: 105px;
  justify-content: space-between;
}

.profile-about h1 {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: .4px;
}

.profile-about h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.profile-about h4 {
  margin-top: 5px;
  font-size: 15px;
}

.profile-about h5 {
  font-size: 11px;
  color: black;
}

.profile-about h6 {
  line-height: 20px;
  font-size: 15px;
}

.profile-about p {
  line-height: 20px;
  font-size: 13px;
  color: black;
}

.profile-about p:nth-of-type(2) {
  color: black;
}

.profile-icon {
  width: 28px;
  height: 28px;
  opacity: 1;
  transition: .2s;
}

.profile-icon:hover {
  opacity: .7;
  transition: .2s;
}

.profile-icon:focus {
  opacity: .7;
}

.profile-appr-counter {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 15px;
  width: 100%;
  justify-content: space-between;
  color: black;
}

.profile-projects div:nth-of-type(2) {
  display: flex;
  height: 70px;
  align-items: flex-end;
}

.profile-projects-link {
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: .4s;
  color: #696969;
}

.profile-projects-link:hover {
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: .4s;
  color: black;
}

.p-active {
  text-decoration: underline;
  color: black;
}




/* @keyframes 

.testing-circle {
  position: relative;

  width: 0px;
  height: 0px;
  top: 50px;
  left: 50px;
  text-align: center;
  background: red;
  color: white;
  border-radius: 100%;
  padding: 20px;
  overflow: hidden;
  animation: 2s ease 0x 1 
}

.testing-circle: {

} */