.project-image img {
  width: 100%;
  height: auto;
}

.project-image-loading {

}

.project-close {
  font-size: 22px;
  position: fixed;
  right: 12px;
  top: 8px;
  color: white;
  transition: .4s;
}

.project-close:hover {
  color: gray;
  transition: .4s;
  cursor: pointer;
}

.project-header {
  display: flex;
}

.project-header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
}

.project-header > div > a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.project-header > div > a:hover {
  text-decoration: underline;
  transition: .5s;
}

.project-section-info {
  min-height: 500px;
  background-color: #fafafa;
  padding: 70px 80px 80px 80px;
  display: flex;
  justify-content: space-between;
}

.project-section-info-comments {
  margin: 24px 0 24px 24px;
  border: 1px solid #e8e8e8;
  background-color: white;
  border-radius: 2px;
  padding: 32px 0;
  width: 100%;
  min-width: 400px;
  min-height: 350px;
  box-sizing: border-box;
  height: auto;
}

.project-section-info-user {
  min-width: 435px;
  width: 435px;
}

.project-section-info-user h4 {
  font-size: 11px;
  color: #a8a8a8;
}

.project-section-info-user > section:first-of-type {
  margin: 24px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 32px;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.project-section-info-user > section:first-of-type > a:first-of-type {
  transition: .4s;
}

.project-section-info-user > section:first-of-type > a:first-of-type:hover {
  opacity: .85;
  transition: .4s;
}

.project-section-info-user > section:first-of-type > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
}

.project-section-info-user > section:first-of-type > div > a {
  font-weight: bold;
  letter-spacing: .5px;
  text-decoration: none;
  color: black;
}

.project-section-info-user > section:first-of-type > div > a:hover {
  text-decoration: underline;
}

.project-section-info-user > section:nth-of-type(2) {
  margin: 24px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-between;
  color: #0c0c0c;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

.project-section-info-user > section:nth-of-type(2) > h1 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .5px;
}

.project-section-info-user > section:nth-of-type(2) > p {
  color: #696969;
  font-weight: 100;
  font-size: 15px;
}

.project-section-info-user > section:nth-of-type(2) > div {
  color: #696969;
}

.project-section-info-comments > form > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.project-section-info-comments > form > div:first-of-type > a {
  margin-left: 32px;
  height: 52px;
}

.project-section-info-comments > form > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px 50px 116px;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
}

.project-section-info-comments > form > div > p {
  color: #d3d3d3;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.project-mask {
  transition: .5s;
  overflow: hidden;
}

.project-mask:hover .project-info {
  opacity: 1;
  transition: .4s;
  cursor: pointer;
}

.project-info {
  color: white;
  position: absolute;
  bottom: 0;
  font-family: 'Heebo', sans-serif;
  opacity: 0;
  /* text-shadow: 2px 2px 5px rgba(47, 47, 47, 0.8); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  transition: .4s;
  height: 40%;
  width: 100%;
  border-radius: 3px;
}

.project-info h4 {
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 3px rgba(47, 47, 47, 0.8);
  bottom: 38px;
  left: 16px;
}

.project-info h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-info > div {
  position: absolute;
  right: 18px;
  bottom: 18px;
  display: flex;
  width: 30px;
  justify-content: space-around;
}

.project-info h5 {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  box-shadow: none;
}

.project-info i {
  font-size: 13px;
  box-shadow: none;
}

.project-info p {
  position: absolute;
  text-shadow: 1px 1px 3px rgba(47, 47, 47, 0.8);
  bottom: 17px;
  left: 16px;
  font-size: 14px;
  color: white;
}

.project-info p:hover {
  text-decoration: underline;
}

.project-section-counters {
  display: flex;
  align-items: center;
}

.project-section-counters p {
  font-weight: 100;
  font-size: 15px;
}

.project-section-counters div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  width: 30px;
}

.project-section-counters div:first-of-type i {
  font-size: 14px;
}

.project-section-counters div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  padding-top: 2px;
}

.project-section-counters div:nth-of-type(2) i {
  font-size: 14px;
}

.project-section-appreciation {
  height: 290px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-section-appreciation > h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 24px 0 16px 0;
}

.project-section-like-button {
  font-size: 24px;
  background-color: #2257ff;
  color: white;
  padding: 25px;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
}

.project-section-like-button:hover {
  background-color: #1a45d2;
}

.project-section-unlike-button {
  font-size: 24px;
  background-color: #3c3c3c;
  color: white;
  border: none;
  padding: 25px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
}

.project-section-unlike-button > p {
  font-size: 11px;
  margin-top: 6px;
}

.project-section-unlike-button:hover {
  background-color: #303030;
}

.project-section-appr-counters {
  display: flex;
  align-items: center;
  color: #a4a4a4;
}

.project-section-appr-counters p {
  font-weight: 100;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.project-section-appr-counters div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  width: 30px;
}

.project-section-appr-counters div:first-of-type i {
  font-size: 14px;
}

.project-section-appr-counters div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  padding-top: 2px;
}

.project-section-appr-counters div:nth-of-type(2) i {
  font-size: 14px;
}
