@keyframes slidefromside {
  0% {
    opacity: 0;
    transform: translateX(8%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

body, html {
  height: 100%;
}

.main-session {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.main-session-containers {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainRoot {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.session {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  height: 700px;
  margin-right: 15%;
  border-radius: 4px;
  animation: .5s ease 0s 1 slidefromside;
}

.session form {
  padding: 50px 60px 0 60px;
  width: 100%;
  box-sizing: border-box;
}

.session h1 {
  font-size: 40px;
  font-weight: 800;
  color: #323232;
  padding-bottom: 10px;
}

.session label {
  display: flex;
  padding-top: 20px;
  font-size: 12px;
  color: #747474;
}

.session-input {
  height: 30px;
  padding-top: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
}

.session-input:hover {
  transition: 0.3s;
  border-bottom: 2px solid #d2d2d2;
}

.session-input:focus {
  transition: 0.3s;
  border-bottom: 2px solid #475fbf;
}

.error-session-input {
  height: 30px;
  padding-top: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #e34850;
  width: 100%;
}

.session-input-additional {
  height: 30px;
  padding-top: 0;
  width: 200px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #eaeaea;
}

.session-input-additional:hover {
  transition: 0.3s;
  border-bottom: 2px solid #d2d2d2;
}

.session-input-additional:focus {
  transition: 0.3s;
  border-bottom: 2px solid #475fbf;
}

.error-session-input-additional {
  height: 30px;
  padding-top: 0;
  width: 200px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #e34850;
}

.session-logo {
  width: 200px;
  height: auto;
  margin-left: 100%;
}

.session-demo span {
  display: flex;
  justify-content: center;
  color: #323232;
  font-size: 16px;
}

.session-line::before {
  background: #eaeaea;
  content: '';
  height: 1px;
  left: 0;
  position: relative;
  top: 50%;
  width: 60%;
  margin-right: 5px;
}

.session-line::after {
  background: #eaeaea;
  content: '';
  height: 1px;
  left: 0;
  position: relative;
  top: 50%;
  width: 60%;
  margin-left: 5px;
}

.session-demo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 120px;
}

.session-demo button {
  border: 3px solid #eaeaea;
  border-radius: 40px;
  padding: 20px 180px;
  background-color: white;
  color: #505050;
  font-weight: bold;
  transition: 0.4s;
}

.session-demo button:hover {
  border: 3px solid #d2d2d2;
  transition: 0.4s;
}

.session-demo button:focus {
  border: 3px solid #d2d2d2;
  background-color: #eaeaea;
  transition: 0.2s;
}

.session-submit-button {
  border: 0;
  border-radius: 18px;
  width: 140px;
  height: 35px;
  background-color: #475fbf;
  transition: 0.3s;
  color: white;
  margin-top: 5px;
  margin-left: 290px;
}

.session-submit-button:hover {
  border: 0;
  border-radius: 18px;
  width: 140px;
  height: 35px;
  background-color: #394da0;
  transition: 0.3s;
  color: white;
}

.session-signup-login-link {
  display: flex;
  font-size: 14px;
}

.session-signup-login-link p {
  color: #323232;
}

.session-signup-login-link a {
  text-decoration: none;
  color: #475fbf;
}

.session-signup-login-link a:hover {
  text-decoration: underline;
}

.session-input-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session-input-name section {
  display: flex;
  flex-direction: column;
}

.session-all-inputs {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.session-all-inputs p {
  margin-top: 7px;
  color: #e34850;
  min-height: 21px;
}

.session-header {
  padding-bottom: 15px;
}
.session-header-login {
  padding-bottom: 50px;
}

.session-form-animate {
  animation: .5s ease 0s 1 slidefromside;
}

.session-input-link {
  display: flex;
  align-items: center;
}

.session-input-link-text {
  text-decoration: none;
  color: #4962c0;
}

.session-input-link-text:hover {
  text-decoration: underline;
}