@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.splash {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-logo {
  width: 200px;
  height: auto;
  margin-bottom: 40px;
}

.splash-active {
  background: rgba(13, 16, 37, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  color: white;
  padding: 20px 50px 40px 50px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 8px;
  position: absolute;
  animation: 0.6s ease 0s 1 fadein;
}

.splash-active-a {
  text-decoration: none;
  color: white;
  background-color: #2e5ab9;
  padding: 15px 112px;
  border-radius: 6px;
  transition: 0.4s;
  display: flex;
  justify-content: center;
}

.splash-active p {
  font-size: 24px;
  margin-bottom: 7px;
}

.splash-active-a:hover {
  background-color: #274ea2;
  transition: 0.4s;
}

.splash-active {
  margin-bottom: 6px;
}

.splash-active-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}

.splash-active-alt-link-a {
  text-decoration: none;
  color: white;
  background-color: #2e5ab9;
  padding: 15px 260px;
  border-radius: 6px;
  transition: 0.4s;
}

.splash-active-alt-link-a:hover {
  background-color: #274ea2;
  transition: 0.4s;
}

.splash-alt-link {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.splash-active-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.splash-disabled {
  max-height: 0;
}
